<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Attack!</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="shortcut icon" href="#" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Alien Attack!</h1>
    </header>
    <div id="app">
      <section id="alien" class="container">
        <h2>alien</h2>
        <div class="health">
          <div :style="healthMeterAlien" class="health-meter"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>player</h2>
        <div class="health">
          <div :style="healthMeterPlayer" class="health-meter"></div>
        </div>
      </section>
      <section v-if="winner" id="game-over" class="container">
        <h2>Game Over</h2>
        <h3 v-if="winner === 'alien'">👽 Humanity is destroyed</h3>
        <h3 v-else-if="winner === 'player'">🎉 You have defeated the aliens</h3>
        <h3 v-else>🟰 You have negotiated a treaty with the aliens</h3>
        <button @click="startNewGame">Start New Game</button>
      </section>
      <section v-else id="controls">
        <button @click="attackAlien">Primary Attack</button>
        <button :disabled="enableSpecial" @click="specialAttack">
          Special Attack
        </button>
        <button :disabled="enableRecover" @click="recover">Recover</button>
        <button @click="abduction">Abduction</button>
      </section>
      <section id="game-log" class="container">
        <h2>game log</h2>
        <ul>
          <li v-for="log in gameStats" :key="log">
            <span
              :class="{alienLog: log.who === 'alien', playerLog: log.who === 'player'}"
            >
              {{ log.who === 'player' ? 'Player' : 'Alien'}}
            </span>

            <span v-if="log.action === 'recover'">
              recovers for <span class="heal">{{ log.type }}</span>
            </span>

            <span v-else-if="log.action === 'special attack'">
              special attacks and deals
              <span class="damage">{{ log.type }}</span>
            </span>

            <span v-else>
              attacks and deals
              <span class="damage">{{ log.type }}</span>
            </span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
