@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Electrolize", sans-serif;
}

body {
  background: url(/spacePic.jpg) center/cover no-repeat;
  height: 100vh;
  color: #fffffe;
}
