@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Press Start 2P", cursive;
}

body {
  background: url(/spacePic.jpg) center/cover no-repeat;
  background-attachment: fixed;
  color: #fffffe;
}

:root {
  --white: #fffffe;
  --black: #222;
  --red: #8e0000;
  --green: #008e00;
  --purple: #8e008e;
  --spacing: 4px;
  --radius: 8px;
  --light-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
  --dark-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

section {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

header {
  text-align: center;
  padding-top: 3rem;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
}

.container {
  padding: 1rem;
  margin: 1rem auto;
  /* background-color: var(--white); */
}

.health {
  width: 100%;
  height: 20px;
  background-color: #8e0000;
  margin: 0.5rem 0;
  border-radius: 50px;
  border: 1px solid #aaa;
}
.health-meter {
  background-color: green;
  width: 100%;
  height: 100%;
  border-radius: 50px;
}

button {
  background-color: var(--purple);
  color: var(--white);
  padding: 0.5rem 1rem;
  letter-spacing: var(--spacing);
  text-transform: uppercase;
  border: transparent;
  border-radius: var(--radius);
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  box-shadow: var(--dark-shadow);
  cursor: grab;
}
button:hover,
button:active {
  background-color: #550055;
}
button:disabled {
  background-color: #aaa;
  border-color: #aaa;
  cursor: not-allowed;
}
button:focus {
  outline: none;
}

#game-over {
  text-align: center;
}
#game-over h3 {
  padding: 1rem 0;
}
#controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#game-log {
  text-align: center;
}
#game-log ul {
  list-style-type: none;
  margin: 1rem 0;
}
#game-log li {
  margin: 0.5rem 0;
}

.alienLog {
  color: #c68000;
}
.playerLog {
  color: var(--purple);
}
.damage {
  color: var(--red);
}
.heal {
  color: var(--green);
}
